.mySlides {
    display: none
}
img {
    vertical-align: middle;
}
section{
  width: 1200px;
}

/* On smaller screens, decrease text size 
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
*/


.Brano{
    height: auto;
    border-left: 7px solid #ffdc11;
    margin: 1% 1% 3% 0px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0.5px 0.5px 0.5px  white;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin-left: 7px;
}

.card{
    width: 397px;
    height: auto;
    padding: 0;
    margin: 0px 20px 0px 20px;
    margin-bottom: 50px;
    background-color:  white;
    border-radius: 7px;
    float:left;
}
.Napis{
    width: auto;
    font-weight: bold;
    font-size: 18px;
    color: grey;                 /*#31404b*/
    padding: 20px 20px 0px 20px;
}
.Aktualno{
    width: auto;
    font-weight: bold;
    font-size: 28px;
    color: grey;
    padding: 10px 10px 5px 10px;
}
.Button{
    width: 43%;
    height: 10%;
    border: 3px solid #f3d324;
    margin-bottom: 20px;
    border-radius: 30px;
    text-align: center;
    float: left;
    padding: 10.5px;
    margin-left: 35%;
    text-decoration: none; 
    font-weight: bold;
    color: grey;
    opacity: 0.7;
}
.Button:hover{
    background-color: #f3d324;
    color: black;
    opacity: 1;
    text-decoration: none;
}

.Naslov{
    color: black;
    font-size: 17px;
    font-weight: bold;
    padding-top: 20px;
}

.Koncept{
    color: grey;
    font-size: 14px;
    padding: 15px 0px 5px 0px;
    text-align: justify;
}
.fb-page{
  width: 100%;
  height: 30%;
}

#Sponzors{
  margin: 3% 0 3% 0;
}
.card-header{
  padding: 15px 23px;
  border-radius: 4px 4px 0 0;
  position: relative;
  border-left: 7px solid #ffdc11;
  border-bottom: 2px solid lightgrey;
  overflow: hidden;
  font-weight: 400;
}

.card-deck{
  margin-top: 2%;
}

#right{
  float: right;
}
.card-img-top img{
  height: 20px;
}

/*SLIDER - HOME PAGE*/
#slidesimg{
  max-height: 880px;
}

/* SCSS */
.outer-jsc {
  position: relative;
  border: 1px solid #fff;
  margin: 0 auto;
  width: 100%;
  height: 50vw;
  max-width: 900px;
  max-height: 400px;
}

@media screen and (min-width: 768px) {
  width: 50vw;
  height: 30vw;
}

.carousel-item-text {
  h3 { font-size: 1.8rem; }
  p { font-size: 1.4rem; }

  @media screen and (min-width: 767px) {
    h3 { font-size: 2.4vw; }
    p { font-size: 1.6vw; }
  }

  @media screen and (min-width: 1160px) {
    h3 { font-size: 2.4rem; }
    p { font-size: 1.6rem; }
  }
}

#sendButton:hover{
  background-color: #ffdc11;
}