.Obvestilo{
    padding: 10px 0px 0px 0px;
    color: grey;
}
.Koledar{
    padding: 20px;
    color: grey;
    font-size: 14px;
}
.cont1{
	padding: 20px;
    text-align: justify;
}
.Brano{
	margin: 0;
}
.col-30{
    display: inline-block;
    margin-top: 6px;
}
input[type=text], input[type=date], input[type=number],input[type=submit], #List, #SmallNumber,select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    color: grey;
}