body{
    margin: 0;
    padding: 0;
}
header{
    height: auto;
    width: 100%;
    /*border-bottom: 4px solid #416677;*/
}
.Brano{
    height: auto;
    border-left: 7px solid #ffdc11;
    margin: 5% 0px 3% 0px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0.5px 0.5px 0.5px  white;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.Aktualno{
    width: auto;
    font-weight: bold;
    font-size: 35px;
    color: grey;
    padding: 10px 20px 20px 20px;
}

* {box-sizing: border-box; margin: 0; padding: 0;}
body {
    width: 100%;
    font-family: Georgia; 
    margin: 0px;    
    background-color: #e0e1e4;
}

footer{
    width: 100%;
    height: auto;
    background-color: lightgrey;
    margin: 0 auto;
}
.Footer{
    color: white;
    width: 100%;
    background-color: #333;
    padding: 20px;
    opacity: 0.7;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.02em;
}
.Mail{
    color: lightgrey;
    text-decoration: none;
}
.Mail:hover{
    color: #ffdc11;
}
#ChangePage{
    color: #333;
    border: 0px solid #ffdc11;
    border: none;
    outline: none;
}
#ChangePage:hover{
    background-color: #ffdc11;
}
.dropdown-menu{
    padding: 15px;
}
.dropdown-item{
    padding: 15px;
}

.active{
    border-bottom: 3px solid #ffdc11;
}