
.container_novica{
	width: 80%;
	padding: 10px;
    margin: 0;
	margin: 0 auto;
	margin-top: 4%;
	border: none;
}
.inside{
	padding: 40px;
	text-align: justify;
}
.inside{
    color: gray;
    font-size: 16px;
}
.card{
	width: 100%;
}
.card-deck:active, #InsideCards:active{
  transform: translateY(2px);
}
#NoviceSite:active{
	transform: translate(0px);
}
nav, .container_novica{
	font-family: "Montserrat", sans-serif;
    letter-spacing: -0.02em;
}
.card{
	margin: 0;
}
.col-md-8, .col-md-4{
	margin-bottom: 5%;
}
.col-sm-4{
    margin-bottom: 3%;
}
a{
	color: #333;
}
a:hover{
	color: #333;
	text-decoration: none;
}
.card-text{
	font-size: 14px;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    float: left;
}
.KomentarjiPrikaz{
	background-color: #edeff4;
}
#preklici, #komentiraj {
    background-color: #4CAF50; /* Green */
    border: none;
    color: gray;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
#komentiraj {
    background-color: white; 
    color: black; 
    border: 2px solid #ffdc11;
}

#preklici {
    background-color: #e0e1e4; 
    color: black; 
    border: 1px solid #ffdc11;
}

#komentiraj:hover {
    background-color: #e0e1e4;
    color: #333;
    border: 2px solid #ffdc11;
}

#preklici:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #ffdc11;
}


#NovButton{
	float: right;
	background-color: #fff;
	border: 2px solid #ffdc11;
	color: grey;
}
#NovButton:hover{
	background-color: #ffdc11;
	color: #333;
}
.Warrning, .Success{
    font-size: 11px;
    width: 100%;
    margin-top: 1%;
    height: 50px;
    padding: 15px 15px 15px 10px;
    box-shadow: 0.5px 0.5px 0.5px  lightgrey;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 100px rgba(0, 0, 0, 0.1) inset;
}
.Warrning{
    font-size: 14px;
    background-color: #fcf8e3;
    color: #a66b43;
    opacity: 0.7;
}
.Success{
    background-color: #45a049;
    color: #333;
    font-weight: bold;
    opacity: 0.7;
}
#naslovBlok{
    background-color: black;
    opacity: 0.8;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.02em;
    padding-top: 0;
    padding-bottom: 0;
}
#naslov{
    font-size: 50px;
}
.besedilo{
    padding: 0 5px 0 5px; 
}
@media only screen and (max-width: 990px) {
    .container_novica{
        width: 100%;
    }
    h3{
        display: none;
    }
    #NonePadding{
        padding-top: 0px;
    }
    #naslovBlok{
        padding-top: 5px;
        height: auto;
    }
    #naslov{
        padding-top: 0px;
        font-size: 16px;
    }
    .besedilo{
        font-size: 9px;
        font-style: italic
    }
    .Footer{
        font-size: 12px;
    }
}
.zoom {
    position: relative;
    overflow: hidden;
}
.zoom img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.zoom:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.activicu{
    background-color: #ffdc11;
}

#koledarSelekcije{
    text-align: center;
}

#koledarSelekcije:hover{
    color: red;
}