﻿@using Microsoft.AspNetCore.Identity
@using JLSportPlannerData.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | JLSportPlanner</title>
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />
    <link href="https://fonts.googleapis.com/css?family=Ma+Shan+Zheng|Righteous&display=swap" rel="stylesheet">
</head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <!--<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Logo</a>-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Index" style="font-family: 'Righteous', cursive;font-size:1.2rem;">JLSportPlanner</a>
                        </li>
                        <!--<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                    </li>-->
                    </ul>
                </div>
            </div>
        </nav>
        <div class="side-nav">
            <nav>
                <ul>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-area="" asp-controller="Role" asp-action="Index">
                                <span><i class="fas fa-address-card"></i></span>
                                <span>Roles</span>
                            </a>
                        </li>

                        <li>
                            <a asp-area="" asp-controller="Users" asp-action="Index">

                                <span><i class="fas fa-users"></i></span>
                                <span>Users</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Sports" asp-action="Index">

                                <span><i class="fas fa-volleyball-ball"></i></span>
                                <span>Sports</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("AdminOfClub"))
                    {
                        <li>
                            <a asp-area="" asp-controller="RoleUser" asp-action="Index">

                                <span><i class="fas fa-user-plus"></i></span>
                                <span>Set Role to Users</span>
                            </a>
                        </li>


                        <li>
                            <a asp-area="" asp-controller="Clubs" asp-action="Index">
                                <span><i class="fas fa-user-shield"></i></span>
                                <span>Clubs</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Selections" asp-action="Index">
                                <span><i class="fas fa-user-friends"></i></span>
                                <span>Selections</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Events" asp-action="Index">
                                <span><i class="fas fa-calendar-check"></i></span>
                                <span>Events</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Posts" asp-action="Index">
                                <span><i class="fas fa-sign-in-alt"></i></span>
                                <span>Posts</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="JoinSelections" asp-action="Index">
                                <span><i class="fas fa-plus-square"></i></span>
                                <span>JoinSelections</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="JoinClubs" asp-action="Index">
                                <span><i class="fas fa-plus-square"></i></span>
                                <span>JoinClub</span>
                            </a>
                        </li>
                    }





                    @if (!User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-area="" asp-controller="Clubs" asp-action="Index">
                                <span><i class="fas fa-plus-square"></i></span>
                                <span>JoinClub</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="JoinClubs" asp-action="MyClubs">
                                <span><i class="fas fa-user-shield"></i></span>
                                <span>My Clubs</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Posts" asp-action="Index">
                                <span><i class="fas fa-sign-in-alt"></i></span>
                                <span>All Posts</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Events" asp-action="Index">
                                <span><i class="fas fa-calendar-check"></i></span>
                                <span>All Events</span>
                            </a>
                        </li>
                    }

                </ul>
            </nav>
        </div>
    </header>
    }

    <div style="margin-bottom: 7%;">

    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- <footer class="border-top footer text-muted">
         <div class="container">
             &copy; 2019 - JLSportPlanner - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
         </div>
     </footer> -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
