﻿@model IEnumerable<JLSportPlannerData.Models.Post>

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Club)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Selection)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Selection.Name)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success"><i class="fas fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary"><i class="far fa-eye"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                </td>

            </tr>

            }
        </tbody>
    </table>
}

@if (!User.IsInRole("Admin"))
{
    <div class="container m-t-md">
        <!-- First row -->
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card">
                    <img class="card-img-top" src="https://laurafoot.fff.fr/wp-content/uploads/sites/10/2017/09/DSC_1891_00002-611x378.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Title)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Content)...</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Club.Name) ->  @Html.DisplayFor(modelItem => item.Selection.Name)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Created)</p>
                        <a href="#" class="btn btn-primary">Read more</a>
                    </div>
                </div>

            }
        </div><!-- .end First row -->

    </div>

}
