﻿@using Microsoft.AspNetCore.Identity
@using JLSportPlannerData.Models
@model IEnumerable<IdentityUserRole<String>>
@{
    ViewData["Title"] = "RoleUser";
}


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <h1>UserRoles</h1>

    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoleId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @* @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleId)
                            </td>

                        </tr>
                    } *@
                </tbody>
            </table>
        }
        else
        {
            <h1>ACCESS DENIED</h1>
        }
