/** CONTAINER WITH TABLE, FORM, ALERT MESSAGES **/
.container {
    width: 100%;
    margin: auto;
    border-radius: 3px;
    background-color: #f2f2f2;
    padding: 20px;
    overflow-x: auto;
}

/** FORM **/
.vrstica:after {
    content: "";
    display: table;
    clear: both;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.column-65 {
    float: left;
    width: 45%;
    margin-top: 6px;
}
  
.column-35 {
    float: left;
    width: 55%;
    margin-top: 6px;
}

select, input[type=number] {
    color: gray;
}

input[type=text], input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    outline-color: #0099cc;
}

textarea {
    height: 100px;
}

.submitButton {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    outline: none;
}

.submitButton:hover {
    background-color: #45a049;
}

/** UPDATE/DELETE BUTTONS ON index.html**/
.button {
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-update { background-color: #4CAF50; }
.button-delete { background-color: #f44336; }

/** FILTER BUTTONS **/
.filterButton {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}
  
.filterButton:hover {
    background-color: #ddd;
}
  
.filterButton.active {
    background-color: #0099cc;
    color: white;
}

/** ALERT MESSAGES POP UP**/
.alertMessage {
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 18px;
}
#warningMessage {
    background-color: #f66359;
}

#successMessage {
    background-color: #6bbd6e;
}

p {
    font-style: italic;
}

@media screen and (max-width: 600px) {
    .column-65, .column-35, .submitButton {
        width: 100%;
        margin-top: 10px;
    }
    .button {
        font-size: 13px;
    }
    .alertMessage {
        font-size: 16px;
    }
    .viri {
        font-size: 15px;
    }
}

@media screen and (min-width: 993px) {
    #content1 {
        margin: auto;
        width: 100%;
    }
    .column-65, .column-35, .submitButton {
        margin-top: 30px;
    }
}