html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  body {
    padding: 0px;
    margin: 0px;
  }

  header {
    background-color: #333333;
    color: #ffffff;
    padding: 15px;
    grid-area: header;
  }

  .naslov {
    text-align: center;
  }

  footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    grid-area: footer;
  }
  
  nav {
    grid-area: nav;
    background-color: #333333;
    text-align: center;
    font-size: 14px;
  }

  nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    color: #f2f2f2;
    font-size: 20px;
  }

  nav a:hover {
    color: #ffffff;
    background-color: #0099cc;
  }
  
  article {
    grid-area: article;
    padding: 15px;
  }

  * {
    box-sizing: border-box;
  }

  .row::after {
    content: "";
    clear: both;
    display: block;
  }

  @media screen and (max-width: 600px) {
    body {
      display: grid;
      grid-template-columns: 100%;
      grid-template-areas: 
        'header'
        'nav'
        'article'
        'footer';
    }
    .naslov {
      font-size: 24px;
    }
    .naslov2 {
      font-size: 20px;
    }
    nav a {
      font-size: 18px;
    }
  }
  
  @media screen and (min-width: 993px) {
    body {
      display: grid;
      grid-template-columns: 15% 60% 25%;
      grid-template-areas: 
        'header header header'
        'nav article article'
        'footer footer footer';
    }
  }