table {
    border-collapse: collapse;
	margin: auto;
	width: 100%;
    border: 1px solid #333333;
}

td {
	text-align: center;
    border: 1px solid #979595;
    border-radius: 100px;
    padding: 10px 7px 10px 7px;
	-webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

th {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
	text-align: center;
    background-color: #333333;
    color: #F2F0E1;
    height: 50px;
}

fieldset {
	width: 80%;
}

.carParts>td {
    padding: 25px 7px 25px 7px;
}

.najdeniNaslov {
    margin-top: 5%;
}

@media screen and (max-width: 600px) {
    table {
        font-size: 13px;
    }
}