﻿@model IdentityRole
@{
    ViewData["Title"] = "Roles";
}

@using Microsoft.AspNetCore.Identity
@using JLSportPlannerData.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form asp-route-returnUrl="" method="post">
                <h4>Create a new Role</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>Name</label>
                    <input asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="text-left col-xs-6 text-left"><a class="btn btn-primary" asp-area="" asp-controller="Dashboard" asp-action="Index">Back</a></div>
                    <div class="text-right col-xs-6 text-right"><button type="submit" class="btn btn-success">Create</button></div>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
}
else
{
    <h1>ACCESS DENIED</h1>
}


