﻿@model IEnumerable<JLSportPlannerData.Models.Event>
@{
    ViewData["Title"] = "Dashboard";
}

@using Microsoft.AspNetCore.Identity
@using JLSportPlannerData.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="container m-t-md">
        <!-- First row -->
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card">
                    <img class="card-img-top" src="https://laurafoot.fff.fr/wp-content/uploads/sites/10/2017/09/DSC_1891_00002-611x378.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)...</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Club.Name) ->  @Html.DisplayFor(modelItem => item.Selection.Name)</p>
                        <a href="#" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            
            }
        </div><!-- .end First row -->

    </div>


}



