﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@using Microsoft.AspNetCore.Identity
@using JLSportPlannerData.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (!SignInManager.IsSignedIn(User))
{
    <!--h1>@ViewData["Title"]</!--h1-->
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 align-items-center">
            <section>
                <form id="account" method="post">
                    <h2 style="text-align: center">@ViewData["Title"]</h2>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Back</a>
                            <button type="submit" class="btn btn-success">Log in</button>
                        </div>

                    </div>
                    <div class="form-group" style="text-align: center;">
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
}
else
{
    <h1>ACCESS DENIED</h1>
}