﻿@{
    ViewData["Title"] = "Login";
}

@using Microsoft.AspNetCore.Identity
@using JLSportPlannerData.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (!SignInManager.IsSignedIn(User))
{
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-8">
             
                <h1><a class="nav-link text-dark" asp-area="" style="font-family: 'Righteous', cursive;font-size:3.2rem;text-align:center;">JLSportPlanner</a></h1>
            </div>
            <div class="col-lg-12 col-md-8 login-box">
                <div class="col-lg-12 login-key">
                </div>
                <div class="container login-container">
                    <div class="row">
                        <a class="nav-link text-dark btnSubmit col-md-6 login-form-1" asp-area="Identity" asp-page="/Account/Login">
                            <h3 style="padding-top: 35px;">LOGIN</h3>
                            <form>
                                <div class="form-group">

                                </div>
                            </form>
                        </a>

                        <a class="nav-link text-dark btnSubmit col-md-6 login-form-2" asp-area="Identity" asp-page="/Account/Register">
                            <h3 style="padding-top: 35px;">CREATE NEW ACCOUNT</h3>
                            <form>
                                <div class="form-group">

                                </div>
                            </form>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2"></div>
            </div>
        </div>
    </div>

}



