@media only screen and (max-width: 990px) {
    .wrapper, .wrapper12 {
        flex-direction: column;
    }

    header{
    	position: initial;
    	display: flex;
    	align-items: center;
    	justify-content: space-between ;
    }
    #menu-btn{
    	display: block;
    	font-size: 28px;
	}	

    #Stranski{
    	margin-top: 0;
    	height: auto;
    	width: 100%;
    	text-align: center;
    }
    .Warrning, .Success{
        font-size: 10px;
    }

    .Naslov, .Naslov a{
        font-size: 12px;
    }
    .SideBar{
    	height: auto;
    }
    .SideBar a:hover{
        border: 1px solid #fff;
        margin: 0 5px 0 5px;
    }
    aside{
        margin-top: 0px;
        width: 100%;
        height: auto;
    }
	.Leva{
		display: none;
        width: 100%;
        height: auto;
	}
    .Desna{
    	margin-top: 0px;
    }

    .SideBar a {
	    padding: 6px 6px 15px 6px;
	    text-align: center;
	}
    #refresh{
        width: 100%;
        text-align: center;
    }
    input[type=submit], #SmallNumber, input[type=number], select{
        width: 100%;
    }

    input[type=submit]{
        margin-top: 3%;
    }

    table, tr, td, th{
        padding: 5px;
        font-size: 10px;
    }
    .Odjava{
        margin-top: 0.3%;
    }
    img{
        padding: 3px 3px 3px 0;
    }

    .nazaj{
        margin-top: 3%;
    }
}
