
.Odjava{
    float: right;
    margin: 0;
    margin: -10px 15px 0px 0px;
}
body{
    margin: 0 auto;
    background-color: lightgrey;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
input[type=submit], #refresh{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    margin-top: 20px;
    margin-bottom: 0px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover, #refresh:hover {
    background-color: #45a049;
}
#refresh{
  float: left;
  text-decoration: none;
}
header{
    width: 100%;
    background-color: #005ba8;
    color: #fff;
    box-shadow: 0.5px 0.5px 0.5px  lightgrey;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    position: fixed;
    z-index: 100;
}
header img{
    margin-left: 15px;
    display: inline-block;
}
header span{
    float: left; 
    padding-top: 20px; 
    padding-left: 30px;
}

#menu-btn{
    display: none;
}

.wrapper, .wrapper12{
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.Leva{
    height: 100%;
    display: block;
    font-size: 10px;
}
.Desna{
    margin-top: 60px;
    overflow-y: scroll;
    height: 100%;
}
.Naslov, .Warrning, .Success{
    background-color: #fff;
    width: 100%;
    height: 50px;
    padding: 15px 15px 15px 10px;
    margin-left: 0;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3%;
    color: grey;
    box-shadow: 0.5px 0.5px 0.5px  lightgrey;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 100px rgba(0, 0, 0, 0.1) inset;
}
.Warrning, .Success{
    font-size: 14px;
    width: 100%;
    margin-top: 1%;
}
.Warrning{
    font-size: 14px;
    background-color: #fcf8e3;
    color: #a66b43;
    opacity: 0.7;
}
.Success{
    background-color: #45a049;
    color: #333;
    opacity: 0.5;
}
aside{    
    height: 100%;
    width: 230px;
    background-color: #333;
    margin-top: 60px;
}
.SideBar {
    height: 100%;
    width: 100%;
    padding-top: 20px;
}
.SideBar a {
    padding: 6px 6px 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}
.SideBar a:hover {
    color: #f1f1f1;
}
@media screen and (max-height: 500px) {
  .SideBar {padding-top: 10px; width: 50%;}
  .SideBar a {font-size: 10px;}
    aside{width: 30%; text-align: left;}
}

section{
    height: 100%;
    flex-grow: 3;
}
* {
    box-sizing: border-box;
}

input[type=text], input[type=date],select, textarea, #SmallNumber, input[type=number]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    color: grey;
}
#SmallNumber{
    width: 25%;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.container, .container12 {
    border-radius: 5px;
    background-color: #f3f3f3;
    padding: 20px;
}
.col-30{
    float: left;
    width: 31%;
    margin-left: 2%;
    margin-top: 6px;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.col-75#Slika{
  float: left;
}
/* Clear floats after the columns */
.row:after, .row12:after{
    content: "";
    display: table;
    clear: both;
}
input[type=submit], #refresh, #DodajIgralca {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    margin-top: 20px;
    margin-bottom: 0px;
    border-radius: 4px;
    cursor: pointer;
}
#DodajIgralca{
    float: left;
    margin: 20px 0 0 1%;
    background-color: grey;
}
#DodajIgralca:hover{
    opacity: 0.9;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 500px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
        margin-left: 0px;
    }
    #refresh{
      margin-left: 0px;
      margin-top: 5%;
    }
}

.row{
  margin-bottom: 6px;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 2%;
    max-height: 200px;
    overflow: scroll;
}
table, tr{
    border: 1px solid gray;
    background-color: #fff;
    text-align: center;
}
tr:hover{
    background-color: lightgrey;
}
tr:active{
    transform: translateY(1px);
}
td{
    padding: 10px 30px 10px 30px;
}
#Counter{
    background-color: #4CAF50;
    color: #fff;
}
#Prva{
    background-color: #005ba8; 
    color: #fff;
}
.Tabela{
    float: right;
    color: grey;
    text-decoration: none;
    font-size: 18px;
}
#ikonce, #ikoncecheck{
    color: #333;
}
#ikoncecheck:hover{
    color: #4CAF50;
}
#ikonce:hover{
    color: red;
}
#ikonce:active{
    transform: translate(2px);
}
#ChangePage{
    background-color: gray;
    color: #fff;
}
#ChangePage:hover, #ChangePage:active{
    color: #333;
    background-color: lightgrey;
}

.activicu{
    background-color: #ffdc11;
}