.checkCont {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkCont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark, .hehe {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid lightgray;
}

.checkCont:hover input ~ .checkmark, .hehe {
    background-color: gray;
}

.checkCont input:checked ~ .checkmark, .hehe {
    background-color: #4CAF50;
}

.checkmark:after, .hehe {
    content: "";
    position: absolute;
    display: none;
}

.checkCont input:checked ~ .checkmark:after, .hehe {
    display: block;
}

.checkCont .checkmark:after, .hehe {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}