body{
    width: 80%;
    margin: 0 auto;
    background-image: url(../Slike/net.jpg);
    background-size:     cover;   
    background-repeat:   no-repeat;
    background-position: center center;
}
.enter{
    border-radius: 10px;
}
.enter:active{
    transform: translate(2px);
}

header{
    margin: 0 auto;
    width: 11.4%;
    margin-top: 70px;
}

form {
    margin: 0 auto;
    width: 50%;
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
    border: none;
}
button {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    outline: none;
    border: none;
}
button:hover {
    opacity: 0.9;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
.container12 {
    margin: 0 auto;
    width: 75%;
    padding: 16px;
}
    img.avatar{
        width: 200px;
        height: 200px;
    }

@media screen and (max-width: 990px) {
    span.psw {
       display: block;
       float: none;
    }
    form {
       width: 100%;
    }
    img.avatar{
        width: 80px;
        height: 80px;
    }
    body{
        font-size: 14px;
    }
}